<div class="row-fluid help">
	<div class="span6">
	
		<div class="about-module">
			<h4><i class="icon-question-sign"></i> ${toolbar.about}</h4>
			<p>
				${about.line1_prefix}<a href="https://github.com/Athou/commafeed" target="_blank">GitHub</a>${about.line1_suffix}
			</p>
			<p>
				${about.line2_prefix}<a href="https://github.com/Athou/commafeed/issues" target="_blank">GitHub</a>${about.line2_suffix}
			</p>
		</div>
		
		<div class="about-module">
			<h4><i class="icon-puzzle-piece"></i> ${about.goodies}</h4>
			<p>
				<a href="https://play.google.com/store/apps/details?id=com.commafeed.commafeedreader" target="_blank">${about.goodies.android_app}</a>
			</p>
			<p>
				<a href="https://chrome.google.com/webstore/detail/commafeed/bpbfpjiciblcfeganojjkfapnllbhdga" target="_blank">${about.goodies.chrome_extension}</a>
			</p>
			<p>
				<a href="https://addons.mozilla.org/en-US/firefox/addon/commafeed/" target="_blank">${about.goodies.firefox_extension}</a>
			</p>
			<p>
				<a href="https://addons.opera.com/en/extensions/details/commafeed-extension-for-opera/" target="_blank">${about.goodies.opera_extension}</a>
			</p>
			
			<p>
				${about.goodies.subscribe_url}: <a href="rest/feed/subscribe?url=FEED_URL_HERE" target="_blank">rest/feed/subscribe?url=FEED_URL_HERE</a>
			</p>
			<p>
				${about.goodies.next_unread_bookmarklet}: ${subscribe.category} 
				<select ng-model="categoryId" ng-options="cat.id as cat.name for cat in CategoryService.flatCategories"
					class="category-select">
				</select> 
				<a href="next?category={{categoryId}}" target="_blank">${global.link}</a>
			</p>
		</div>
		
		<div class="about-module">
			<h4><i class="icon-globe"></i> ${about.translation}</h4>
			<p>
				${about.translation.message}
			</p>
			<p>
				<a href="https://github.com/Athou/commafeed#translate-commafeed-into-your-language" target="_blank">
					${about.translation.link}
				</a>
			</p>
		</div>
		<div class="about-module">
			<h4><i class="icon-rocket"></i> ${about.rest_api}</h4>
			<p>
				${about.rest_api.line1}
			</p>
			<p>
				<a href="api" target="_blank">${about.rest_api.link_to_documentation}</a>
			</p>
		</div>
	</div>
	<div class="span6">
		<div class="about-module">
			<h4><i class="icon-keyboard"></i> ${about.keyboard_shortcuts}</h4>
			<div ng-include="'templates/_shortcuts.html'"></div>
		</div>
	</div>
</div>