<div class="row-fluid help">
	<div class="span6">
	
		<div class="about-module">
			<h4><i class="icon-question-sign"></i> ${toolbar.about}</h4>
			<p>
				${about.line1_prefix}<a href="https://github.com/Athou/commafeed" target="_blank">GitHub</a>${about.line1_suffix}
			</p>
			<p>
				${about.line2_prefix}<a href="https://github.com/Athou/commafeed/issues" target="_blank">GitHub</a>${about.line2_suffix}
			</p>
			${about.version} {{infos.version}}
		</div>
		
		<div class="about-module">
			<h4><i class="icon-puzzle-piece"></i> ${about.goodies}</h4>

			<p>
				${about.goodies.subscribe_url}: <a href="rest/feed/subscribe?url=FEED_URL_HERE" target="_blank">rest/feed/subscribe?url=FEED_URL_HERE</a>
			</p>
		</div>
		
		<div class="about-module">
			<h4><i class="icon-rocket"></i> ${about.rest_api}</h4>
			<p>
				${about.rest_api.line1}
			</p>
		</div>
	</div>
	<div class="span6">
		<div class="about-module">
			<h4><i class="icon-keyboard"></i> ${about.keyboard_shortcuts}</h4>
			<div ng-include="'templates/_shortcuts.html'"></div>
		</div>
	</div>
</div>
